.file-explorer {
    grid-row: main-start / main-end;
    grid-column: main-start / main-end;
    overflow: hidden;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: "file-nav    file-location .."
                         "file-nav    file-main     .."
                         "file-cancel file-base     ..";
    grid-template-columns: 15em 1fr 3.5em;
    grid-template-rows: 3em 1fr 3.5em;
    background: var(--top-bar);
}

.file-nav {
    grid-row: file-nav-start / file-nav-end;
    grid-column: file-nav-start / file-nav-end;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3em;

    overflow: scroll;
}

.file-nav-common-paths {
    background: var(--background);

    margin: 0.1em;
    padding: 0.6em;

    border-style: solid;
    border-radius: 0.3em;
    border-color: var(--border);
}

.files {
    grid-column: file-main-start / file-main-end;
    grid-row: file-main-start / file-main-end;
    padding: 0.6em 0.8em 0 0.5em;

    border: solid var(--border);
    border-radius: 0.3em;
    background: var(--background);

    overflow: scroll;
}

.file {
    display: grid;
    grid-template-areas: "icon name";
    grid-template-columns: 3em auto;
    font-size: 0.9em;
}

.dir {
    @extend .file;
    background: var(--unselected-option-dark);
}

.file-base {
    grid-column: file-base-start / file-base-end;
    grid-row: file-base-start / file-base-end;
    display: grid;
    grid-template-areas: ".. ..           ..                   .."
                         ".. current-file current-file-confirm .."
                         ".. ..           ..                   ..";

    grid-template-columns: 0.5em 1fr max-content 2em;
    grid-template-rows: 1fr max-content 1fr;

    background: var(--top-bar);

}

.file-cancel {
    grid-column: file-cancel-start / file-cancel-end;
    grid-row: file-cancel-start / file-cancel-end;

    background: var(--top-bar);

    margin: auto;
}

.current-file {
    grid-column: current-file-start / current-file-end;
    grid-row: current-file-start / current-file-end;

    overflow: scroll;
}

.current-file-confirm {
    grid-column: current-file-confirm-start / current-file-confirm-end;
    grid-row: current-file-confirm-start / current-file-confirm-end;
}

.file-location-outer {
    grid-column: file-location-start / file-location-end;
    grid-row: file-location-start / file-location-end;

    display: grid;
    grid-template-areas: ".. ..       .."
                         ".. location .."
                         ".. ..       ..";
    grid-template-rows: 1fr max-content 1fr;
    grid-template-columns: 0.5em 1fr 0.5em;

}

.file-location {
    grid-column: location-start / location-end;
    grid-row: location-start / location-end;

    overflow: scroll;
}