:root {
   --text: #eeeeee;
   --text-disabled: #808080;

   --background: #0f0f0f;
   --background2: #572212;
   --content: rgba(50, 50, 50, 0.33);
   --content-solid: rgba(50, 50, 50, 0.66);
   --hovered-option: #32323288;
   --selected-option: rgba(50, 50, 50, 0.66);


   --console: black;
   --console-debug: gray;
   --console-info: white;
   --console-warning: yellow;
   --console-error: red;
   --spinner-main: #6c7181;
}