

.element {
  border-style: solid;
  border-radius: 0.3em;
  margin: 0.1em;
  padding: 0.25em 0.6em 0.25em 0.6em;
  height: 1.5em;

  align-self: center;

  border-color: var(--border);
  background: var(--unselected-option);
}

.element-thin {
  @extend .element;
  height: 1.2em;
}

.element-disabled-thin {
  @extend .element-thin;
  @extend .element-disabled;
}

.element-button-thin {
  @extend .element-button;
  @extend .element-thin;
}

.element-button-thin-selected {
  @extend .element-button-thin;
  @extend .element-selected;
}

.element-button {
  @extend .element;
  &:hover {
    background: var(--hovered-option);
    cursor: pointer;
  }
}

.element-disabled {
  @extend .element;
  background: var(--top-bar);
  color: var(--text-disabled);
  &:hover {
    cursor: default;
  }
}

.element-button-selected {
  @extend .element-button;
  background: var(--selected-option);
}

.element-selected {
  @extend .element;
  background: var(--selected-option);
}