

.element {
  border-style: solid;
  border-radius: 0.3em;
  margin: 0.1em;
  padding: 0.25em 0.6em 0.25em 0.6em;
  height: 1.5em;

  align-self: center;

  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  border-color: var(--border);
  background: var(--unselected-option);
}

.make-element-disabled-lite {
  background: var(--top-bar);
  color: var(--text-disabled);
}

.make_element-thin {
  height: 1.3em;
}

.make_element-big {
  font-size: 1.5em;
}

.make-element-button {
  &:hover {
    background: var(--hovered-option);
    cursor: pointer;
  }
}

.make-element-disabled {
  background: var(--top-bar);
  color: var(--text-disabled);
  &:hover {
    cursor: default;
  }
}

.make-element-selected {
  background: var(--selected-option);
}