
.mod-list {
    grid-row: main-start / main-end;
    grid-column: main-start / main-end;
    overflow: scroll;
    padding: 0.6em 0.6em 0 0.5em;
}

.mod-element {
    display: grid;
    grid-template-areas: "name description";
    grid-template-columns: 20em auto;
}