
.top-bar {
    grid-row: top-start / top-end;
    grid-column: top-start / top-end;

    display: grid;
    grid-gap: 0.5em;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, max-content);
    padding-left: 0.5em;

    background: var(--top-bar);
    border-bottom: solid var(--border);
}

.top-bar-element {
    background: var(--unselected-option);
    border: var(--border) solid;
    border-radius: 0.3em;

    width: max-content;
    align-self: center;
    padding: 0.25em 0.6em 0.25em 0.6em;
}

.top-bar-element:hover {
    background: var(--hovered-option);
    cursor: pointer;
}

.top-bar-element-disabled, .top-bar-element-disabled:hover {
    background: var(--top-bar);
    color: var(--text-disabled);
    cursor: default;
}