
.bottom-bar {
  grid-row: bottom-start / bottom-end;
  grid-column: bottom-start / bottom-end;

  display: grid;
  grid-gap: 0.5em;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr max-content;
  padding-left: 0.5em;

  background: var(--bar);
  border-top: solid var(--border);
}

.version-number {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: auto 1em auto auto;
}