
.file-browser {
    display: grid;
    grid-template-areas: "nav          location"
                         "quick-access files"
                         "..           selected";
    grid-template-columns: 17.5em 1fr;
    grid-template-rows: 4em 1fr 5em;
    margin: 1em;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1em;
    align-self: center;
}

.location {
    grid-area: location;
    width: 100%;
    margin-left: 3em;
    align-self: center;
}

.quick-access {
    margin-top: 10%;
    display: grid;
    grid-area: quick-access;
    width: 15em;
    justify-items: center;
    grid-template-rows: 10% max-content 1fr;
}

.quick-access-image {
    transform: translate(0, 0.15em);
}

.quick-access-paths {
    display: grid;
    row-gap: 0.3em;
}

.common-path-button {
    display: grid;
    grid-template-columns: 1.5em 1fr;
    padding: 0.2em;
}

.files {
    grid-area: files;
    width: calc(95% - 1em);
    height: calc(100vh - 12em);
    overflow: scroll;
    border: solid var(--text) 3px;
    align-self: start;
    row-gap: 0.1em;
    padding: 0.5em;
}

.file {
    display: grid;
    grid-template-columns: 1.5em 1fr;
    padding: 0.2em;
}

.selected {
    grid-area: selected;
    width: 95%;

    display: grid;
    grid-template-columns: 1fr max-content;
}

.mod-details-outer {
    display: grid;
    align-items: center;
    justify-items: center;
}

.mod-details {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    row-gap: 2em;
}