

.mod-list {
    padding-top: 1em;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}

.mod {
    display: grid;
    padding: 0 1em;
    column-gap: 1em;
    grid-template-columns: 1.2em 2em 30% 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.state-switch {
    transform: translate(0, -12.50%);
}