

.selected-mod {
  display: grid;
  grid-template-areas: "title"
                       "description"
                       "options"
                       "..";
  grid-template-rows: max-content min-content min-content min-content 1fr;
  background: var(--top-bar);
  border-left: solid var(--border);
  padding-top: 40%;
}

.no-selected-mod {
  background: var(--top-bar);
  border-left: solid var(--border);
  text-align: center;
  font-size: 1.2em;
  padding-top: 1em;
}

.selected-mod-options {
  display: grid;
  justify-items: center;
  padding-top: 20%;
  row-gap: 0.6em;
}